@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@keyframes fill {
  to {
    transform: scaleY(1); } }

@keyframes showText {
  to {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  color: #393c46;
  font-size: clamp(0.8rem, 1vw, 1.5rem); }

a {
  text-decoration: none;
  color: inherit; }

main {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #e8f1ee, #ffffff); }

.container {
  width: 80%;
  height: 100%;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

header {
  text-align: center;
  margin-bottom: 1.5rem; }
  header img {
    width: clamp(100px, 30vw, 300px); }

.title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(1.2rem, 2.5vw, 3rem); }

.glass-wrapper {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.glass {
  position: relative;
  display: flex;
  width: 250px;
  height: 300px;
  border-top: 0;
  background-color: rgba(74, 74, 74, 0.75);
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%); }
  .glass__base {
    margin-top: 4px;
    height: 4px;
    width: 250px;
    background-color: rgba(74, 74, 74, 0.75); }
  .glass__inner {
    width: 242px;
    height: 292px;
    margin-left: 4px;
    margin-top: 4px;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    padding-top: 40px; }
  .glass .ingredient {
    width: 100%;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .glass .ingredient__description {
      font-size: 0.8rem;
      opacity: 0;
      transform: translateY(2em); }
    .glass .ingredient.animated {
      animation-name: fill;
      animation-duration: 400ms;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-fill-mode: forwards; }
      .glass .ingredient.animated .ingredient__description {
        animation-name: showText;
        animation-duration: 400ms;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards; }
    .glass .ingredient.animated-0 {
      animation-delay: 0ms; }
      .glass .ingredient.animated-0 .ingredient__description {
        animation-delay: 100ms; }
    .glass .ingredient.animated-1 {
      animation-delay: 400ms; }
      .glass .ingredient.animated-1 .ingredient__description {
        animation-delay: 500ms; }
    .glass .ingredient.animated-2 {
      animation-delay: 800ms; }
      .glass .ingredient.animated-2 .ingredient__description {
        animation-delay: 900ms; }
    .glass .ingredient.animated-3 {
      animation-delay: 1200ms; }
      .glass .ingredient.animated-3 .ingredient__description {
        animation-delay: 1300ms; }
    .glass .ingredient.animated-4 {
      animation-delay: 1600ms; }
      .glass .ingredient.animated-4 .ingredient__description {
        animation-delay: 1700ms; }
    .glass .ingredient.animated-5 {
      animation-delay: 2000ms; }
      .glass .ingredient.animated-5 .ingredient__description {
        animation-delay: 2100ms; }
    .glass .ingredient.animated-6 {
      animation-delay: 2400ms; }
      .glass .ingredient.animated-6 .ingredient__description {
        animation-delay: 2500ms; }
    .glass .ingredient.animated-7 {
      animation-delay: 2800ms; }
      .glass .ingredient.animated-7 .ingredient__description {
        animation-delay: 2900ms; }
    .glass .ingredient.animated-8 {
      animation-delay: 3200ms; }
      .glass .ingredient.animated-8 .ingredient__description {
        animation-delay: 3300ms; }
    .glass .ingredient.animated-9 {
      animation-delay: 3600ms; }
      .glass .ingredient.animated-9 .ingredient__description {
        animation-delay: 3700ms; }

.cocktail-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .cocktail-list li {
    margin: 5px;
    width: calc(100% / 2 - 10px);
    text-align: center;
    background-color: #cddcda;
    border-radius: 10px;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .cocktail-list li {
        width: calc(100% / 3 - 10px); } }
    .cocktail-list li a {
      display: inline-block;
      width: 100%;
      padding: 1em 0.5em; }
      .cocktail-list li a:hover, .cocktail-list li a.active {
        color: #00a691; }
