// Glass
.glass-wrapper {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass {
  position: relative;
  display: flex; // per evitare il collasso delle margini
  width: $glass-width;
  height: $glass-height;
  border-top: 0;
  background-color: $glass-border-color;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);

  &__base {
    margin-top: 4px;
    height: 4px;
    width: $glass-width;
    background-color: $glass-border-color;
  }

  &__inner {
    width: $glass-width - 8px;
    height: $glass-height - 8px;
    margin-left: 4px;
    margin-top: 4px;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    padding-top: 40px;
  }

  .ingredient {
    width: 100%;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__description {
      font-size: 0.8rem;
      opacity: 0;
      transform: translateY(2em);
    }

    &.animated {
      animation-name: fill;
      animation-duration: $ingredient-animation-duration;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-fill-mode: forwards;

      .ingredient__description {
        animation-name: showText;
        animation-duration: $ingredient-animation-duration;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-fill-mode: forwards;
      }
    }

    @for $i from 0 to $max-ingredients {
      &.animated-#{$i} {
        animation-delay: $ingredient-animation-duration * $i;

        .ingredient__description {
          animation-delay: ($ingredient-animation-duration * $i) + 100ms;
        }
      }
    }
  }
}

// Cocktail nav

.cocktail-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    margin: 5px;
    width: calc(100% / 2 - 10px);
    text-align: center;
    background-color: $secondary-color-light;
    border-radius: 10px;
    font-weight: 500;

    @include responde("md") {
      width: calc(100% / 3 - 10px);
    }

    a {
      display: inline-block;
      width: 100%;
      padding: 1em 0.5em;

      &:hover,
      &.active {
        color: $secondary-color;
      }
    }
  }
}
