// Variables
$primary-color: #e26358;
$secondary-color: #00a691;
$secondary-color-light: #cddcda;
$bg-gradient-color-1: #e8f1ee;
$bg-gradient-color-2: #ffffff;
$text-color: #393c46;
$glass-border-color: rgba(74, 74, 74, 0.75);
$glass-width: 250px;
$glass-height: 300px;
$glass-border: 5px solid $glass-border-color;
$glass-border-radius: 0 0 30px 30px;

$ingredient-animation-duration: 400ms;
$max-ingredients: 10;
