// Variables
$glass-border-color: rgba(74, 74, 74, 0.75);
$glass-width: 300px;
$glass-height: 400px;
$glass-border: 5px solid $glass-border-color;
$glass-border-radius: 0 0 30px 30px;

$ingredient-animation-duration: 400ms;
$max-ingredients: 10;
